@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    text-align: center;
    margin: 0.5rem;
}

nav {
    border: 2px solid black;
    margin: 0 auto 1rem;
    max-width: 600px;
    border-radius: 1rem;
    font-size: 2.5rem;
}

h2 {
    background-color: gold;
    border-radius: 1rem 1rem 0 0;
}

ul {
    list-style-type: none;
}
li a{
    padding: 0.5rem;
    border: 1px solid #333;
}

li a {
    display: block;
}

li a,
li a:visited {
    color: #333;
    text-decoration: none;
}

li a:focus,
li a:hover {
    background: #333;
    color: whitesmoke;
}

li:last-child a{
    border-radius: 0 0 0.9rem 0.9rem;
}